#main{
    padding: 10px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#main select{
    border: 0;
    box-shadow: none;
}

#search{
    padding: 10px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#search input{
    border: 0;
    box-shadow: none;
}

#search button{
    margin: 0 2px 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}
#minHeight {
    min-height: 45%;
}