<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DepartmentRepository">

  <select id="select" resultType="map">
    SELECT department_id, department_name FROM DEPARTMENT WHERE DEPARTMENT_ID = #{value}
  </select>

  <select id="selectAll" resultType="map">
    SELECT * FROM DEPARTMENT
  </select>

  <select id="selectDeptAll" resultType="map">
    SELECT * FROM DEPARTMENT WHERE KIND = 'dept'
  </select>

  <delete id="delete" parameterType="int">
    DELETE FROM DEPARTMENT WHERE DEPARTMENT_ID = #{value}
  </delete>

</mapper>