<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberRepository">

  <select id="select" resultType="map">
    SELECT member_id, nickname, email, reg_date, method, task, exam FROM MEMBER WHERE MEMBER_ID = #{value}
  </select>

  <select id="selectMember" resultType="int">
     SELECT Count(MEMBER_ID) FROM MEMBER WHERE MEMBER_ID = #{member_id}
  </select>

  <select id="selectEmail" resultType="int">
    SELECT Count(MEMBER_ID) FROM MEMBER WHERE EMAIL = #{email}
  </select>

  <select id="selectNick" resultType="int">
    SELECT Count(MEMBER_ID) FROM MEMBER WHERE NICKNAME = #{nickname}
  </select>

  <select id="selectModNick" parameterType="map" resultType="int">
    SELECT Count(MEMBER_ID) FROM MEMBER WHERE NICKNAME = #{nickname} AND MEMBER_ID != #{member_id}
  </select>

  <select id="selectPw" resultType="String">
    SELECT password FROM MEMBER WHERE MEMBER_ID = #{member_id}
  </select>

  <select id="selectEn" resultType="int">
    SELECT Enabled FROM MEMBER WHERE MEMBER_ID = #{member_id}
  </select>

  <select id="selectAll" resultType="map">
    SELECT * FROM MEMBER
  </select>

  <delete id="delete" parameterType="String">
    DELETE FROM MEMBER WHERE MEMBER_ID = #{value}
  </delete>

  <update id="deleteEnabled" parameterType="String">
    UPDATE MEMBER
    SET
    enabled = 0
    WHERE MEMBER_ID = #{member_id}
  </update>

  <update id="enabled" parameterType="String">
    UPDATE MEMBER
    SET
    enabled = 1
    WHERE MEMBER_ID = #{member_id}
  </update>

  <insert id="insert" parameterType="map">
    INSERT INTO MEMBER (member_id, password, nickname, email, method, task, exam)
    VALUES (#{member_id},#{password},#{nickname},#{email},#{method},#{task},#{exam})
  </insert>

  <insert id="insert_role" parameterType="String">
    INSERT INTO MEMBER_ROLE (member_id) VALUES (#{member_id})
  </insert>

  <update id="update" parameterType="map">
    UPDATE MEMBER
    SET
    password = #{password},
    nickname = #{nickname},
    method = #{method},
    task = #{task},
    exam = #{exam}
    WHERE MEMBER_ID = #{member_id}
  </update>

</mapper>