<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberRepository">

  <select id="select" resultType="map">
    SELECT * FROM MEMBER WHERE MEMBER_ID = #{value}
  </select>

  <select id="selectAll" resultType="map">
    SELECT * FROM MEMBER
  </select>

  <delete id="delete" parameterType="int">
    DELETE FROM MEMBER WHERE MEMBER_ID = #{value}
  </delete>

  <update id="deleteEnabled" parameterType="map">
    UPDATE MEMBER
    SET
    enabled = 0
    WHERE MEMBER_ID = #{member_id}
  </update>

  <insert id="insert" parameterType="map">
    INSERT INTO MEMBER (member_id, password, nickname, email, method, task, exam)
    VALUES (#{member_id},#{password},#{nickname},#{email},#{method},#{task},#{exam})
  </insert>

  <insert id="insert_role" parameterType="map">
    INSERT INTO MEMBER_ROLES (member_id, role) VALUES (#{member_id}, #{role})
  </insert>

  <update id="update" parameterType="map">
    UPDATE MEMBER
    SET
    password = #{password},
    nickname = #{nickname},
    method = #{method},
    task = #{task},
    exam = #{exam}
    WHERE MEMBER_ID = #{member_id}
  </update>

</mapper>