<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SemesterRepository">

  <select id="select" resultType="map">
    select * from semester where semester = #{value}
  </select>

  <select id="selectAll" resultType="map">
    select * from semester where semester_id not in(1)
  </select>

  <delete id="delete" parameterType="int">
    delete from semester where semester = #{value}
  </delete>

</mapper>