<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberRepository">

  <select id="select" resultType="map">
    SELECT * FROM MEMBER WHERE MEMBER_ID = #{value}
  </select>

  <select id="selectAll" resultType="map">
    SELECT * FROM MEMBER
  </select>



  <insert id="insert" parameterType="map">
    INSERT INTO MEMBER (member_id, password, nickname, email, method, task, exam, type)
    VALUES (#{memberId},#{passWord},#{nickName},#{eMail},#{metHod},#{tAsk},#{eXam}, #{tYpe})
  </insert>


</mapper>