<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- ========================= PROPERTY PLACE HOLDER DEFINITION ========================= -->

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>/WEB-INF/config.properties</value>
            </list>
        </property>
    </bean>

    <!-- gmail -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com" />
        <property name="port" value="587" />
        <property name="username" value="kputobbyland" />
        <property name="password" value="tobby1234" />

        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
            </props>
        </property>
    </bean>

    <bean id="mailMail" class="kr.ac.kpu.ebiz.spring.tobbyproject.mail.MailMail">
        <property name="mailSender" ref="mailSender" />
    </bean>

    <!-- message -->
<!--    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource"
          p:basename="/WEB-INF/messages/spring_security_messages.properties"
          p:defaultEncoding="UTF-8"
          p:cacheSeconds="5"/>-->

    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
           <property name="basenames">
               <list>
                   <value>/WEB-INF/messages/spring_security_messages</value>
               </list>
           </property>
           <property name="defaultEncoding" value="UTF-8"/>
           <property name="cacheSeconds" value="5"/>
    </bean>

</beans>